<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!--  custom CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}">

    <!-- fontawesome.com -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- owlcarousel2.github.io / CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/owlcarousel/owl.theme.default.min.css') }}">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand text-right" href="{{ url_for('landing_page') }}">الصفحة الرئيسية</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsHeader" aria-controls="navbarsHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarsHeader">
          <ul class="navbar-nav">
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('products', category_id=123) }}">نساء</a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('products', category_id=123) }}">رجال</a>
            </li>
            <li class="nav-item ml-2">
              <a class="nav-link" href="{{ url_for('products', category_id=123) }}">أطفال</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0 mr-2 ml-auto">
            <input class="form-control" type="text" placeholder="ما الذي تبحث عنه؟" aria-label="Search">
          </form>
          <a class="nav-link active position-relative text-dark" href="{{ url_for('.shopping_cart') }}">
            <span class="badge badge-pill badge-primary position-absolute posr-1-n">11</span>
            <i class="fas fa-shopping-basket" style="font-size: 1.5em;"></i>&ensp;عربة التسوق&ensp;
          </a>
        </div>
      </div>
    </nav>

    <div class="container mb-5 pb-5">
      <div class="row mt-4">

        <div class="col-sm-4 mx-auto text-center">
          <div id="product-slideshow" class="owl-carousel owl-theme border border-light">
            <div class="item"><img src="{{ url_for('static', filename='img/N11049215A_1.jpg') }}" class="" alt="Responsive image"></div>
            <div class="item"><img src="{{ url_for('static', filename='img/N12311053A_1.jpg') }}" class="" alt="Responsive image"></div>
            <div class="item"><img src="{{ url_for('static', filename='img/N11045962A_1.jpg') }}" class="" alt="Responsive image"></div>
          </div>
          <div class="row">
            <button type="button" name="button" class="btn btn-link mx-auto">
             مشاركة المنتج  <i class="fas fa-share-square text-primary"></i>
            </button>
          </div>
        </div>

        <div class="col-sm-5 text-right">
          <h4 class="text-secondary">product name in here sds sdfasd asdf sdfsd fasdf sdfasd fasdfasd fsdf </h4>
          <p class="text-muted">id number of product</p>
          <div class="product-price mt-4">
            <span class="text-muted"><small><s>dfgdfgd</s></small></span> <span class="badge badge-info">sadfasf</span>
            <br>
            <h4 class="font-weight-bold text-dark">selling</h4>
          </div>
          <div class="filter-container filter-size mb-4 mt-4">
            <h5 class="text-dark">المقاس</h5>
            <button type="button" class="btn btn-outline-primary btn-sm pl-3 pr-3">L</button>
            <button type="button" class="btn btn-outline-primary btn-sm pl-3 pr-3">M</button>
            <button type="button" class="btn btn-outline-primary btn-sm pl-3 pr-3">S</button>
          </div>
          <div class="filter-container filter-quantity mb-4 mt-4">
            <h5 class="text-dark">الكمية</h5>
            <input type="number" id="" name="" value="1" min="1" max="100">
          </div>
          <div class="mb-4 mt-4">
            <!-- Button trigger modal -->
            <button type="button" data-toggle="modal" data-target="#additionFedback" name="button" class="btn btn-primary btn-lg btn-block">إضافة الى عربة التسوق</button>
          </div>
        </div>

        <div class="col-sm-3 text-right pt-3">
          <div class="vl"></div>
          <h6 class="pr-3 text-dark">مميزات الشراء من موقعنا</h6>
          <hr class="mr-3 mb-1">
          <ul class="site-features pr-2">
            <li><a class="mb-0 text-dark d-block" href="{{ url_for('.landing_page') }}"><img src="{{ url_for('static', filename='img/COD-icon.png') }}" alt="..." class="">الدفع عند التوصيل</a></li>
            <li><a class="mb-0 text-dark d-block" href="{{ url_for('.landing_page') }}"><img src="{{ url_for('static', filename='img/exchange-icon.png') }}" alt="..." class="">إمكانية الإرجاع والتبديل</a></li>
            <li><a class="mb-0 text-dark d-block" href="{{ url_for('.landing_page') }}"><img src="{{ url_for('static', filename='img/delivery-icon.png') }}" alt="..." class="">خدمة توصيل</a></li>
            <li><a class="mb-0 text-dark d-block" href="{{ url_for('.landing_page') }}"><img src="{{ url_for('static', filename='img/whatsapp-icon.png') }}" alt="..." class="">تواصل معنا 0912343212</a></li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="additionFedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content container text-center">
          <div class="modal-body mt-3">
            <h5 class="text-dark">تم إضافة المنتج إلى عربة التسوق بنجاح</h5>
            <img src="{{ url_for('static', filename='img/success-icon.png') }}" alt="..." class="mt-2 mb-2">
          </div>
          <div class="mb-3">
            <p>ماذا تريد أن تفعل الآن؟</p>
            <form action="{{ url_for('.shopping_cart') }}" class="mb-1">
              <button class="btn btn-primary btn-block">عرض محتويات العربة</button>
            </form>
            <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">متابعة التسوق</button>
          </div>
        </div>
      </div>
    </div> <!-- End of Modal -->

    <!-- Footer -->
    <div class="container-fluid mb-4 mt-5 bg-light">

      <div class="row pt-5 pb-5 justify-content-center">
        <div class="contact-us col-sm-2 text-center">
          <h5 class="mb-3 mt-3">تواصل معنا</h5>
          <p class="mb-1"><i class="fas fa-phone"></i> 00963940606060</p>
          <p class="mb-1"><i class="fab fa-whatsapp"></i> 00963940606060</p>
          <p class="mb-1"><i class="far fa-envelope"></i> name@domain.com</p>
        </div>
        <div class="other-links col-sm-2 text-center">
          <h5 class="mb-3 mt-3">السياسة العامة</h5>
          <a class="mb-1 text-dark d-block" href="{{ url_for('.landing_page') }}">إرجاع واستبدال السلع</a>
          <a class="mb-1 text-dark d-block" href="{{ url_for('.landing_page') }}">خدمة التوصيل</a>
          <a class="mb-1 text-dark d-block" href="{{ url_for('.landing_page') }}">كيفية الطلب</a>
          <a class="mb-1 text-dark d-block" href="{{ url_for('.landing_page') }}">الشروط والأحكام</a>
        </div>
      </div>
    </div> <!-- End of Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- owlcarousel2.github.io / JS -->
    <script src="{{ url_for('static', filename='js/lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function(){

        $("#product-slideshow").owlCarousel({
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          items : 1,
          itemsDesktop : false,
          itemsDesktopSmall : false,
          itemsTablet: false,
          itemsMobile : false,
          singleItem:true,
          rtl: true
        });

      });
    </script>
  </body>
</html>
